@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Oxygen&display=swap');

body, input, textarea, button {
  font-family: 'Karla', sans-serif;
  font-family: 'Oxygen', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
}
a {
  text-decoration: none;
  color: white;
}
@keyframes hand-animation {
    0% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(-10px);
    }
  }
  
button a i {
    animation-name: hand-animation;
    animation-duration: 1.55s;
    animation-iteration-count: infinite;
}
#start {
	height: 60vh;		
	position: relative;	
	background-image: url('init_bg.png');
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.start-screen {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Center items horizontally */
  justify-content: center;
}
.title {
    color: rgb(75, 134, 244);
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}