body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(17, 22, 41);
  color: white;
}
p {
  color: rgb(152, 146, 146);
}
a {
  color: inherit; /* This will set the text color to the color inherited from its parent */
  text-decoration: none; /* This will remove the underline */
  }

.landing-screen {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.landing-container {
  width: 80vh;
  gap: 20px;
}
.landing-container.active {
  animation-duration: 1s;
  animation-name: slideInLeft;
  animation-fill-mode: both;
}
.landing-container.hidden {
  animation-duration: 1s;
  animation-name: fadeOutRight;
  animation-fill-mode: both;
}

.title {
  font-size: 45px;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  max-width: 300px;
  max-height: 300px;
  border-radius: 60%;
  border: 3px solid white;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}

.projects-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  height: 100vh;
}
.projects-screen {
  display: flex;
}
.item-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-columns: 1fr, 1fr;
  width: 90vh;
  background-color: rgb(35, 44, 84);
  padding: 2%;
  grid-gap: 10px;
  border-radius: 20px;
}
.proj-image {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}
.info-title {
  margin-top: 35%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}
.info-desc {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.info-tech {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
}

.item-container.active {
  animation-duration: 1s;
  animation-name: fadeInUp;
  animation-fill-mode: both;
}
.item-container.hidden {
  animation-duration: 1s;
  animation-name: fadeOutDown;
  animation-fill-mode: both;
}

.skills-screen {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 40px;
}