body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(17, 22, 44);
  color: white;
}
.landing-screen {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.landing-container {
  width: 80vh;
  gap: 20px;
}
.landing-container.active {
  animation-duration: 1s;
  animation-name: slideInLeft;
  animation-fill-mode: both;
}
.landing-container.hidden {
  animation-duration: 1s;
  animation-name: fadeOutRight;
  animation-fill-mode: both;
}

.info-button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: solid black;
  background-color: white;
  cursor: pointer;
  color: #181c29;
}
.projects-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.carousel-container { 
  max-width: 800px;
  max-height: 400px;
  background-color:rgb(27, 37, 82);
  border-radius: 15px;
}
.title {
  font-size: 45px;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  max-width: 300px;
  max-height: 300px;
  border-radius: 60%;
  border: 3px solid white;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}
